<link rel="stylesheet" href="css/estiloPagComidas.css">

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs divLogo">
        <img src="img/logoPeq.png" class="logo">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 hidden-xs divTitulo">
        <h1 class="titulo">Premium Restaurant</h1>
    </div>
</div>

<!-- vista movil -->
<div class="row visible-xs">
    <div class="col-xs-4 divLogoXs">
        <img src="img/logoPeq.png" class="logoXs">
    </div>
    <div class="col-xs-8 divTituloXs">
        <h1 class="tituloXs">Premium Restaurant</h1>
    </div>
</div>
<div class="row visible-xs">
    <div class="col-xs-12 divDescripcionXs">
        <p class="titDescripcionXs">Todos Nuestros Platos Incluyen:</p>
    </div>
</div>
<div class="row visible-xs">
    <div class="col-xs-4 divDescripcionXs2">
        <p class="parrafoXs">Entrada</p>
        <p class="parrafoXs">Plato Fuerte</p>
    </div>
    <div class="col-xs-4 divDescripcionXs2">
        <p class="parrafoXs1">Postre</p>
        <p class="parrafoXs1">Decoracion</p>
    </div>
    <div class="col-xs-4 divDescripcionXs2">
        <p class="parrafoXs2">Botella de vino</p>
    </div>
</div>
<div class="row visible-xs">
    <div class="col-xs-12 divParrafoAmor">
        <p class="parrafoAmorXs">Que bonito es cuendo tu haces lo que ella espera sin
            que te lo pida.. Preparalo todo para cuando ella llegue,
            cena con el amor de tu vida.</p>
    </div>
</div>
<div class="row visible-xs divParrafoAmor">
    <div class="col-xs-4">
        <center><img class="imgXs" src="img/Desayuno.png"></center>
    </div>
    <div class="col-xs-8">
        <h3 class="titDesayunoXs" data-toggle="modal" data-target="#modalDesayuno">Desayuno</h3>
    </div>
</div>
<div class="row visible-xs divParrafoAmor">
    <div class="col-xs-4">
        <center><img class="imgXs" src="img/Almuerzo.png"></center>
    </div>
    <div class="col-xs-8" style="border-bottom: solid 2px #F6AC55; border-top: solid 2px #F6AC55">
        <h3 class="titDesayunoXs" data-toggle="modal" data-target="#modalAlmuerzo">Almuerzo</h3>
    </div>
</div>
<div class="row visible-xs divParrafoAmor">
    <div class="col-xs-4">
        <center><img class="imgXs" src="img/Cena.png"></center>
    </div>
    <div class="col-xs-8">
        <h3 class="titDesayunoXs" data-toggle="modal" data-target="#modalCena">Cena</h3>
    </div>
</div>
<div class="row visible-xs contenedorContactosXs">
    <div class="col-xs-1">
        <div class="divRedondoSm">
            <i class="glyphicon glyphicon-phone-alt iconoSm"></i>
        </div>
    </div>
    <div class="col-xs-3">
        <p class="textContactoSm">210 2118</p>
    </div>
    <div class="col-xs-1">
        <div class="divRedondoSm">
            <i class="glyphicon glyphicon-thumbs-up iconoSm"></i>
        </div>
    </div>
    <div class="col-xs-3">
        <p class="textContactoSm">premiumRes</p>
    </div>
    <div class="col-xs-1">
        <div class="divRedondoSm">
            <i class="glyphicon glyphicon-home iconoSm"></i>
        </div>
    </div>
    <div class="col-xs-3">
        <p class="textContactoSm">Av. Wish</p>
    </div>
</div>

<!-- vista sm -->
<div class="row visible-sm">
    <div class="col-sm-3 divDescripcionSm">
        <p class="titDescripcionSm">Todos Nuestros Platos Incluyen:</p>
    </div>
    <div class="col-sm-9 divDescripcionSm2">
        <p class="parrafoSm">Entrada - Plato Fuerte - Postre - Decoracion - Botella de vino</p>
    </div>
</div>

<!-- segundo row -->
<div class="row">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs divDescripcion">
        <p class="titDescripcion">Todos Nuestros Platos Incluyen:</p>
        <p class="parrafo">Entrada</p>
        <p class="parrafo">Plato Fuerte</p>
        <p class="parrafo">Postre</p>
        <p class="parrafo">Decoracion</p>
        <p class="parrafo">Botella de vino</p>
        <div class="row contenedorDivRedondo hidden-md">
            <div class="col-lg-4 ">
                <div class="divRedondo">
                    <i class="glyphicon glyphicon-phone-alt icono"></i>
                </div>
                <p class="parrafo2">210 2118</p>
            </div>
            <div class="col-lg-4 hidden-md">
                <div class="divRedondo">
                    <i class="glyphicon glyphicon-thumbs-up icono"></i>
                </div>
                <p class="parrafo2">premiumRes</p>
            </div>
            <div class="col-lg-4 hidden-md">
                <div class="divRedondo">
                    <i class="glyphicon glyphicon-home icono"></i>
                </div>
                <p class="parrafo2">Av. Wish</p>
            </div>
        </div>
        <div class="row contenedorDivRedondoMd visible-md">
            <div class="col-md-4">
                <div class="divRedondoMd">
                    <i class="glyphicon glyphicon-phone-alt iconoMd"></i>
                </div>
            </div>
            <div class="col-md-8">
                <p class="parrafo3">210 2118</p>
            </div>
        </div>
        <div class="row visible-md">
            <div class="col-md-4">
                <div class="divRedondoMd">
                    <i class="glyphicon glyphicon-thumbs-up iconoMd"></i>
                </div>
            </div>
            <div class="col-md-8">
                <p class="parrafo3">premiumRes</p>
            </div>
        </div>
        <div class="row visible-md lineaBotton">
            <div class="col-md-4">
                <div class="divRedondoMd">
                    <i class="glyphicon glyphicon-home iconoMd"></i>
                </div>
            </div>
            <div class="col-md-8">
                <p class="parrafo3">Av. Wish</p>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 hidden-sm hidden-xs contenedorDeColumnas">
        <p class="parrafoAmor">Que bonito es cuendo tu haces lo que ella espera sin
            que te lo pida.. Preparalo todo para cuando ella llegue,
            cena con el amor de tu vida.</p>
        <div class="row contenedorComidas hidden-md">
            <div class="col-lg-4 divDesayuno">
                <img class="img" src="img/Desayuno.png" data-toggle="modal" data-target="#modalDesayuno">
                <h3 class="titDesayuno" data-toggle="modal" data-target="#modalDesayuno">Desayuno</h3>
            </div>
            <div class="col-lg-4 divAlmuerzo">
                <img class="img" src="img/Almuerzo.png" data-toggle="modal" data-target="#modalAlmuerzo">
                <h3 class="titDesayuno" data-toggle="modal" data-target="#modalAlmuerzo">Almuerzo</h3>
            </div>
            <div class="col-lg-4 divDesayuno" data-toggle="modal" data-target="#modalCena">
                <img class="img" src="img/Cena.png">
                <h3 class="titDesayuno">Cena</h3>
            </div>
        </div>
        <div class="row contenedorComidas visible-md">
            <div class="col-md-4 divDesayuno">
                <img class="imgMd" src="img/Desayuno.png" data-toggle="modal" data-target="#modalDesayuno">
                <h3 class="titDesayuno" data-toggle="modal" data-target="#modalDesayuno">Desayuno</h3>
            </div>
            <div class="col-md-4 divAlmuerzo">
                <img class="imgMd" src="img/Almuerzo.png" data-toggle="modal" data-target="#modalAlmuerzo">
                <h3 class="titDesayuno" data-toggle="modal" data-target="#modalAlmuerzo">Almuerzo</h3>
            </div>
            <div class="col-md-4 divDesayuno">
                <img class="imgMd" src="img/Cena.png" data-toggle="modal" data-target="#modalCena">
                <h3 class="titDesayuno" data-toggle="modal" data-target="#modalCena">Cena</h3>
            </div>
        </div>
    </div>
</div>

<div class="row visible-sm">
    <div class="col-sm-12 divParrafoAmor">
        <p class="parrafoAmor">Que bonito es cuendo tu haces lo que ella espera sin
            que te lo pida.. Preparalo todo para cuando ella llegue,
            cena con el amor de tu vida.</p>
    </div>
</div>
<div class="row visible-sm">
    <div class="col-sm-4 divDesayunoSm">
        <img class="imgMd" src="img/Desayuno.png" data-toggle="modal" data-target="#modalDesayuno">
        <h3 class="titDesayuno" data-toggle="modal" data-target="#modalDesayuno">Desayuno</h3>
    </div>
    <div class="col-sm-4 divAlmuerzoSm">
        <img class="imgMd" src="img/Almuerzo.png" data-toggle="modal" data-target="#modalAlmuerzo">
        <h3 class="titDesayuno" data-toggle="modal" data-target="#modalAlmuerzo">Almuerzo</h3>
    </div>
    <div class="col-sm-4 divDesayunoSm">
        <img class="imgMd" src="img/Cena.png" data-toggle="modal" data-target="#modalCena">
        <h3 class="titDesayuno" data-toggle="modal" data-target="#modalCena">Cena</h3>
    </div>
</div>
<div class="row visible-sm contenedorContactosSm">
    <div class="col-sm-1">
        <div class="divRedondoSm">
            <i class="glyphicon glyphicon-phone-alt iconoSm"></i>
        </div>
    </div>
    <div class="col-sm-3">
        <p class="textContactoSm">210 2118</p>
    </div>
    <div class="col-sm-1">
        <div class="divRedondoSm">
            <i class="glyphicon glyphicon-thumbs-up iconoSm"></i>
        </div>
    </div>
    <div class="col-sm-3">
        <p class="textContactoSm">premiumRes</p>
    </div>
    <div class="col-sm-1">
        <div class="divRedondoSm">
            <i class="glyphicon glyphicon-home iconoSm"></i>
        </div>
    </div>
    <div class="col-sm-3">
        <p class="textContactoSm">Av. Wish</p>
    </div>
</div>


<!-- modales -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalDesayuno">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <h3 class="titModal">Desayuno</h3>
            <p class="subTit">Entrada</p>
            <p class="Text">Waffles con crema</p>
            <p class="subTit">Plato Fuerte</p>
            <p class="Text">Huevos al gusto</p>
            <p class="Text">Salmon ahumado</p>
            <p class="subTit">Postre</p>
            <p class="Text">Yogurt con cereales</p>
            <p class="Text">Fruta picada</p>
            <p class="subTit">Bebidas</p>
            <p class="Text">Zumo de Naranja</p>
            <p class="Text">Cafe con leche</p>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalAlmuerzo">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <h3 class="titModal">Almuerzo</h3>
            <p class="subTit">Entrada</p>
            <p class="Text">Crujientes de lamgostimos</p>
            <p class="Text">Coctel de bienvenida</p>
            <p class="subTit">Plato Fuerte</p>
            <p class="Text">Churrasco asado ó</p>
            <p class="Text">Pechuga a la plancha</p>
            <p class="subTit">Postre</p>
            <p class="Text">Postre gourmet</p>
            <p class="subTit">Bebidas</p>
            <p class="Text">Jugo natural</p>
            <p class="Text">Agua, cerveza</p>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalCena">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <h3 class="titModal">Cena</h3>
            <p class="subTit">Entrada</p>
            <p class="Text">Yakitori crocantes de calamar</p>
            <p class="subTit">Plato Fuerte</p>
            <p class="Text">Pollo a la miel ó</p>
            <p class="Text">Medallones de Lomo</p>
            <p class="subTit">Postre</p>
            <p class="Text">Cheesecake con salsa de frutos rojos</p>
            <p class="subTit">Bebidas</p>
            <p class="Text">Vino Sata Rita 120 Merlot</p>
            <p class="Text">Agua, cerveza</p>
        </div>
    </div>
</div>